<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Change Password</title>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class = "container-fluid">
            <div class = "row text-white bg-dark">
                <h1>Mailer Services</h1>
            </div>
            <div id = "userStatusDiv" style = "display: none;">
                <strong id = "userStatus"></strong>
            </div>
            <div class = "row">
                <div class = "card" style = "margin-left: auto;margin-right: auto;margin-top: 100px;width: 500px;height: 400px;">
                    <div class = "card-header">
                        <h4>Enter Your New Password</h4>
                    </div>
                    <div class = "card-body">
                        <form action = "{{url_for('forms_bp.change_user_password', user_mail = user_mail)}}" method = "POST">
                            <div class = "form-group">
                                <input type = "password" style = "margin-top: 100px;" id = "newPassword" name = "newPassword" class = "form-control" placeholder = "new password" required>
                            </div>
                            
                    </div>
                    <div class = "card-footer">
                        <input type = "submit" class = "btn btn-primary">
                    </div>
                </form>

                   
                </div>
            </div>
        </div>
        <script src = "{{url_for('static', filename = 'js/userStatus.js')}}"></script>
    </body>
</html>